@import 'src/_mixin';

.image {
  max-width: 400px;
  height: auto;
  margin: 0;
  display: block;

  img {
    display: block;
  }

  p {
    margin-top: 0;
    padding: 0.25rem 0.5rem;
    font-size: 0.75rem;
    text-align: right;
  }
}

.link {
  font-size: 0.875rem;
  font-weight: bold;
  text-align: right;

  a {
    padding: 0.25rem 0.5rem;
  }
}
