@import 'src/_mixin';

.heroTitle {
  margin: 0;

  & > img {
    max-width: 100%;
    height: auto;
    margin: 0;
  }
}

.statusSamples {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin: 2rem 0;
  padding: 0;

  dl {
    display: flex;
    margin: 0;

    @include mq(s) {
      flex-direction: column;
    }

    @include mq(l) {
      flex-direction: row;
      gap: 1rem;
    }
  }

  dt {
    @include mq(l) {
      flex: 0 0 20%;
    }
  }

  dd {
    @include mq(s) {
      margin: 0;
    }
  }

  .description {
    margin: 0;
    font-size: 0.875rem;
  }
}

.databaseMeta {
  margin: 2rem 0;
  padding: 0 0 0 1rem;

  li {
    font-size: 0.875rem;
  }
}
