@import 'src/_mixin';

.heroTitle {
  margin: 0;

  & > img {
    max-width: 100%;
    height: auto;
    margin: 0;
  }
}

.shareButtons {
  margin: 30px 0;
}

.linkForm {
  margin: 30px 0 10px 0;
}

.attention {
  border: 3px double rgb(var(--color-attention));
  padding: 10px;
  font-weight: bold;
  color: rgb(var(--color-attention));

  p {
    margin: 0;
    font-size: 0.75rem;
  }

  ul {
    margin: 10px 0 0 0;
  }

  li {
    margin: 0;
    font-size: 0.75rem;
  }
}

.news {
  margin: 30px 0 10px 0;

  ul {
    margin: 10px 0 0 0;
  }

  li {
    margin: 0;
    font-size: 0.75rem;
    line-height: 1.5;
  }
}

.statusSamples {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin: 30px 0;
  padding: 0;

  dl {
    display: flex;
    margin: 0;

    @include mq(s) {
      flex-direction: column;
    }

    @include mq(l) {
      flex-direction: row;
      gap: 1rem;
    }
  }

  dt {
    @include mq(l) {
      flex: 0 0 20%;
    }
  }

  dd {
    @include mq(s) {
      margin: 0;
    }
  }

  .description {
    margin: 0;
    font-size: 0.875rem;
  }
}

.table {
  margin: 30px 0;
}
