@import 'src/_mixin';

.container {
  display: block;
}

.virtualScroll {
  display: flex;
  flex-direction: column;
  gap: 0;
  position: relative;
}

.header {
  position: sticky;
  left: 0;
  top: 0;
  z-index: 2;
  border-bottom: 1px solid var(--color-primary);
}
