@import 'src/_mixin';

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.item {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.label {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.8;
  color: var(--color-black);

  @include mq(l) {
    font-size: 1.25rem;
  }
}

.description {
  font-size: 1rem;
  line-height: 1.5;
  color: var(--color-black);
}
