@import 'src/_mixin';

.filters {
  position: relative;
}

.filterToggle {
  width: auto;
  height: 34px;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  gap: 5px;
  padding: 0 12px;
  background: var(--color-primary-lighter2);
  border: none;
  border-top: 4px solid var(--color-primary);
  color: var(--color-primary);
  cursor: pointer;
  font-family: inherit;
}

.filterLabelIcon {
  font-size: 1.125rem;
  line-height: 1;
}

.filterLabelText {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1;
}

.filterToggleIcon {
  font-size: 0.75rem;
  line-height: 1;
  margin-left: 8px;
}

.filterPanel {
  position: absolute;
  top: 100%;
  left: 0;
  min-width: 355px;
  z-index: 10;
  background: var(--color-primary-lighter2);
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.filterList {
  display: flex;
  flex-direction: column;
  gap: 0;
  margin: 0;
  padding: 2px 10px;
  list-style: none;
}

.filterItem {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  margin: 0;
  padding: 5px 0;
  border-top: 1px solid var(--color-primary-lighter);

  &:first-child {
    border-top: none;
  }
}

.filterItemIcon {
  width: 14px;
  height: 14px;
  display: flex !important;
  align-items: center;
  justify-content: center;
  background: var(--color-primary);
  border-radius: 7px;
  color: var(--color-white);
  font-size: 0.5rem;
  line-height: 1;
}

.filterSelectable {
  background: none;
  border: none;
  color: var(--color-link);
  text-decoration: underline;
  font-size: 0.75rem;
  line-height: 18px;
}

.filterItemInput {
  width: 140px;
  height: 18px;
  background: var(--color-white);
  border: 1px solid var(--color-black-lighter2);
}

.filterItemText {
  font-size: 0.75rem;
  line-height: 18px;
}

.filterItemNote {
  font-size: 0.625rem;
  line-height: 18px;
}
