@import 'src/_mixin';

.background {
  width: 100dvw;
  height: 100dvh;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 101;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(var(--color-black-rgb) / 0.8);
  transition: opacity 250ms ease-out, visibility 250ms ease-out;

  visibility: hidden;
  opacity: 0;
}
.backgroundActive {
  visibility: visible;
  opacity: 1;
}

.contents {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 102;
  margin: auto;
  padding: 0;
  background: rgb(var(--color-black-rgb) / 0.5);
  transition: opacity 250ms ease-out, visibility 250ms ease-out;

  visibility: hidden;
  opacity: 0;

  @include mq(s) {
    width: calc(100dvw - 40px);
    height: calc(100dvw - 40px);
  }

  @include mq(l) {
    width: 600px;
    height: 400px;
  }
}
.contentsActive {
  visibility: visible;
  opacity: 1;
}

.modalClose {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  color: var(--color-black);
}
