.container {
  height: 120px;
  display: block;
  padding: 5px 5px 25px 5px;
  background: var(--color-background);
  overflow-x: hidden;
  overflow-y: scroll;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 10px 0 0 0;
  padding: 0;
}

.item {
  display: flex;
  gap: 16px;
  margin: 0;
  font-size: 0.75rem;
  line-height: 1.4;
}

.newsDate {
  flex: 0 0 fit-content;
  font-weight: bold;
}

.newsContent {
  flex: 1 1 max-content;
}

.more {
  display: block;
  margin: 10px 0 0 auto;
  padding: 0 0.375rem;
  background: none;
  border: none;
  border-radius: 2px;
  color: var(--color-link);
  font-size: 0.75rem;
  text-decoration: underline;

  &:hover {
    background: var(--color-background);
  }
}
