@import 'src/_mixin';

.container {
  margin: 30px 0;
}

.box {
  height: 120px;
  display: block;
  padding: 5px;
  background: var(--color-background);
  border: 1px solid var(--color-black-light);
  overflow-x: hidden;
  overflow-y: scroll;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 10px 0 30px 0;
  padding: 0;
}

.item {
  display: flex;
  gap: 16px;
  margin: 0;
  font-size: 0.75rem;
  line-height: 1.4;
}

.newsDate {
  flex: 0 0 fit-content;
  font-weight: bold;
}

.newsContent {
  flex: 1 1 max-content;
}
