.buttons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
  padding: 0;
  margin: 0;
  list-style: none;
}

.buttons > li {
  margin: 0;
}

.twitter {
  height: 20px;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  gap: 4px;
  padding: 1px 12px 1px 12px;
  background: #000;
  border-radius: 9999px;
  color: #fff;
  font-size: 0.75rem;
  text-decoration: none;
  font-weight: 500;
  cursor: pointer;
}

.bluesky {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  padding: 1px 8px;
  background: #1185fe;
  border-radius: 4px;
  color: #fff;
  font-size: 0.75rem;
  text-decoration: none;
}
