@import 'src/_mixin';

.form {
  max-width: 700px;
  margin: 0 auto;
  padding: 30px 10px;
  display: flex;
  flex-direction: column;
  gap: 30px;

  @include mq(l) {
    padding: 30px 0;
  }
}

.formSubmitting {
  opacity: 0.6;
  pointer-events: none;
}

// フォーム項目（ラベル + 説明 + 入力）
.item {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.label {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.8;
  color: var(--color-black);

  @include mq(l) {
    font-size: 1.25rem;
  }
}

.description {
  font-size: 1rem;
  line-height: 1.5;
  color: var(--color-black);
}

// テキスト入力（1行）
.input {
  width: 100%;
  height: 32px;
  box-sizing: border-box;
  padding: 7px 5px;
  border: 1px solid var(--color-link-lighter);
  border-radius: 2px;
  font-size: 1rem;
  font-family: 'Noto Sans JP', sans-serif;
  color: var(--color-black);
  background: var(--color-white);
  outline: none;

  max-width: 500px;

  &::placeholder {
    color: var(--color-black-lighter);
  }
}

.otherForm {
  font-size: 0.875rem;
  line-height: 1.5;
  text-align: right;
  color: var(--color-black);

  a {
    color: var(--color-link);
    background: transparent;
    font-weight: 700;
  }
}

.fieldChecking {
  font-size: 0.875rem;
  color: var(--color-black-lighter);
  line-height: 1.5;
}

.fieldSuccess {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 0.875rem;
  color: var(--color-primary);
  line-height: 1.5;
}

.fieldError {
  font-size: 0.875rem;
  color: var(--color-attention);
  line-height: 1.5;
}

.submitError {
  width: 100%;
  font-size: 0.875rem;
  color: var(--color-attention);
  line-height: 1.5;
}

.separator {
  margin: 0;
}

.submitArea {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

// 送信ボタン
.submitButton {
  display: block;
  width: 200px;
  height: 40px;
  background: var(--color-black-lighter3);
  border: 2px solid var(--color-black-lighter);
  border-radius: 2px;
  font-size: 1rem;
  font-weight: 900;
  font-family: 'Noto Sans JP', sans-serif;
  color: var(--color-black-lighter);
  cursor: not-allowed;
}

.submitButtonActive {
  background: var(--color-primary);
  border-color: var(--color-primary);
  color: var(--color-white);
  cursor: pointer;
}