@import '/css/all.min.css';
@import 'src/_mixin';

:root {
  --color-primary: rgb(17 133 254);
  --color-primary-light: rgb(165 209 255);
  --color-primary-light2: rgb(231 243 255);
  --color-attention: rgb(239 41 74);
  --color-attention-light: rgb(255 240 242);
  --color-background: rgb(249 249 249);
  --color-link: rgb(153 153 153);
  --color-white: rgb(255 255 255);
  --color-white-rgb: 255 255 255;
  --color-black: rgb(69 69 69);
  --color-black-rgb: 69 69 69;
  --color-black-light: rgb(136 136 136);
  --color-black-light2: rgb(229 229 229);
  --height-globalheader: 51px;
}

html {
  color: var(--color-black);
  font-family: sans-serif;
}

html, body {
  margin: 0;
}

.main {
  max-width: 960px;
  min-height: 100svh;
  box-sizing: border-box;
  padding: var(--height-globalheader) 10px 100px 10px;
  margin: 0 auto;
  background: var(--color-white);
}

h1 {
  margin: 30px 0;
  font-size: 1.125rem;
}

h2 {
  margin: 10px 0;
  font-size: 0.9375rem;
}

h3 {
  margin: 10px 0;
  font-size: 0.875rem;
}

hr {
  margin: 30px 0;
  border: none;
  border-top: 1px solid var(--color-black-light2);
}

p {
  margin: 10px 0;
  font-size: 0.875rem;
  line-height: 1.75;
  word-break: break-word;
}

strong {
  color: var(--color-black);
  background: var(--color-primary-light2);
}

a {
  background: var(--color-primary-light2);
  color: var(--color-primary);
  text-decoration: underline;
}

ul, ol {
  padding-left: 1rem;
}
ul > li, ol > li {
  margin: 0.5rem 0;
  font-size: 0.875rem;
  line-height: 1.5;
}

img {
  max-width: 100%;
  display: block;
}

.header {
  width: 100%;
  height: var(--height-globalheader);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
}

.status {
  display: inline-flex;
  align-items: center;
  padding: 0.25rem 0.5rem;
  font-size: 0.75rem;
  font-weight: bold;
  line-height: 1;
  word-break: keep-all;
  align-self: center;

  &[data-status*="未移行（未確認）"] {
    background: #ffe2dd;
    color: #5d1715;
  }

  &[data-status*="アカウント作成済"] {
    background: #fdecc8;
    color: #402c1b;
  }

  &[data-status*="両方運用中"] {
    background: #dbeddb;
    color: #1c3829;
  }

  &[data-status*="Bluesky 完全移行"] {
    background: #d3e5ef;
    color: #183347;
  }

  &[data-status*="確認不能"] {
    background: #815b4c;
    color: #ff9d78;
  }
}

.hint {
  width: 14px;
  height: 14px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: var(--color-link);
  border-radius: 8px;
  color: var(--color-white);
  font-size: 0.625rem;
  font-style: normal;
  font-weight: bold;
}

.heroimage {
  & > img {
    max-width: 100%;
    height: auto;
    margin: 0;
    display: block;
  }

  & > p {
    margin-top: 0;
    font-size: 0.75rem;
  }
}

.link {
  font-size: 0.875rem;
  font-weight: bold;
  text-align: right;

  a {
    padding: 0.25rem 0.5rem;
  }
}

.cardlink {
  max-width: 400px;
  height: auto;
  margin: 0;
  display: block;

  p {
    margin-top: 0;
    padding: 0.25rem 0.5rem;
    font-size: 0.75rem;
    text-align: right;
  }
}

.buttons {
  background: #098;
}

.back {
  text-align: right;
  font-size: 0.75rem;
}
